.card {
    background-color: transparent;
    width: 19rem;
    border: none;
    max-height: min-content;
}

.text-card {
    color: #cbcbcb;
}

.text-content {
    font-size: small;
}

.text-date, .text-tags {
    font-size: x-small;
}

.text-tags {
    border-radius: 5px;
    background-color: #cbcbcb;
    color: #1A1A1A;
}

.card-image {
    height: 15rem;
    width: 19rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.article {
    transition: all 0.3s;
}

.article:hover {
    transform: scale(1.05);
}