@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff5eb;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #070707;
}

body {
    background-color: #202020;
    scroll-behavior: smooth;
}
